<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>status_fail</key>
	<string>FAIL</string>
	<key>status_ok</key>
	<string>OK</string>
	<key>status_key</key>
	<string>status</string>
</dict>
</plist>
