<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>check_reachability</key>
	<true/>
	<key>show_file</key>
	<true/>
	<key>show_func</key>
	<true/>
	<key>show_line</key>
	<true/>
	<key>log_level</key>
	<integer>1</integer>
	<key>date_formats</key>
	<array>
		<string>YYYY-MM-dd&apos;T&apos; HH:mm:ssZ</string>
	</array>
	<key>objects_key</key>
	<string>objects</string>
	<key>object_key</key>
	<string>object</string>
	<key>error_description_key</key>
	<string>error</string>
	<key>error_code_key</key>
	<string>errorCode</string>
	<key>status_fail</key>
	<string>FAIL</string>
	<key>status_ok</key>
	<string>OK</string>
	<key>status_key</key>
	<string>status</string>
</dict>
</plist>
